Problema de Negócio: Usando dados históricos é possível prever o salário de
uma pessoa com base no tempo de estudo em horas por mês?

### Importar as bibliotecas

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

### Etapa 02: Carregar os dados

In [2]:
# MAPEAR O CAMINHO E ARQUIVO

caminhoArquivo = '../003 - Arquivos/horasDeEstudo.csv'

# ALOCAR OS DADOS EM UM DATAFRAME

dados = pd.read_csv(caminhoArquivo)

### Etapa 03: Visualizar algumas informações básicas do dataframe:

In [3]:
# VISUALIZAR O CABEÇALHO DO DATAFRAME
 
dados.head

<bound method NDFrame.head of      horas_estudo_mes  salario
0                57.0   6813.0
1                48.0   6855.0
2                60.0   5801.0
3                73.0   7431.0
4                46.0   5475.0
..                ...      ...
495              58.0   6259.0
496              34.0   6099.0
497              47.0   6170.0
498              37.0   5064.0
499              29.0   5236.0

[500 rows x 2 columns]>

In [ ]:
# VISUALIZAR O FINAL DATAFRAME

dados.

### Etapa 04: Gerar uma analise exploratico dos dados

In [5]:
# VEREFICAR SE HÁ DADOS NULOS DO DATAFRAME

dados.isnull().sum()

horas_estudo_mes    0
salario             0
dtype: int64

In [6]:
# RESUMO ESTASTISTICO DO DATAFRAME

dados.describe()

       horas_estudo_mes      salario
count        500.000000   500.000000
mean          50.060000  6018.930000
std           14.659406   848.697853
min            1.000000  3664.000000
25%           39.750000  5473.000000
50%           50.000000  6013.500000
75%           60.000000  6542.000000
max          100.000000  9348.000000